// header

@media screen and (max-width: 768px) {

    .header {
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .header__container {
        margin-left: auto;
        margin-right: auto;
        width: 480px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
    }



    .logo__primary {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.03em;

        color: #2196F3;
    }

    .logo__secondary {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.03em;

        color: #212121;
    }

    .page-header {
        position: relative;
        width: 480px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav {
        display: flex;
        align-items: center;


    }

    .nav__button {
        display: block;
        margin-left: auto;
        padding: 0;
        background-color: transparent;
        border: none;



    }

    .nav__button .nav__close {
        display: none;
    }

    .nav__button .nav__close {
        display: none;

    }


    .nav__button.is-open .nav__close {
        display: block;

    }

    .nav__button.is-open .nav__open {
        display: none;
    }


    .menu-container {
        display: none;
        position: absolute;
        background-color: #ffffff;
        width: 480px;
        height: 796px;
        z-index: 1;
        left: 0;
        top: 100%;
        text-align: center;


    }

    .menu-container.is-open {
        display: block;
    }


    .nav__list {
        margin-left: 40px;
        margin-top: 40px;
    }

    .nav__link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;

        color: #212121;
    }

    .nav__link--current {
        color: #2196F3;
    }

    .nav__item:not(:last-child) {
        margin-bottom: 35px;
    }

    .contact__link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;

        color: #757575;

        &:hover,
        &:focus {
            color: #2196F3;
        }
    }

    .contact__list {
        margin-top: 290px;
        margin-bottom: 64px;
    }

    .contact__item {
        height: 16px;
        margin-left: 40px;
    }

    .contact__item:not(:last-child) {
        margin-bottom: 32px;
    }

    .contact__svg {
        display: none;
    }


    .socials__list {
        display: flex;
        margin-left: 40px;
        margin-top: 64px;
    }

    .socials__link {

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;

        color: #2196F3;
    }

    .socials__item:not(:last-child) {
        margin-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
    }

}

/////// 768px 


@media screen and (min-width: 768px) {


    .header {
        padding-top: 21px;
        padding-bottom: 20px;
        min-height: 80px;
        width: 100%;
        border-bottom: 1px solid #ececec;
    }

    .logo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        text-decoration: none;

        letter-spacing: 0.03em;
        color: $blue-color;

        margin-right: 87px;
    }

    .logo__primary {
        color: #2196F3;
    }

    .logo__secondary {
        color: $black-color;
    }

    .header__container {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 768px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav__button {
        display: none;
    }

    .socials {
        display: none;
    }

    .nav {
        display: flex;
        align-items: center;
    }

    .nav__list {
        display: flex;
    }


    .menu-container {
        display: flex;
        align-items: center;
    }

    .nav__link {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: $title-color;
    }

    .nav__link--current {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.6px;
        color: $blue-color;
        position: relative;
    }

    .nav__link--current::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: $blue-color;
        border-radius: 2px;
        position: absolute;
        display: flex;
        margin-top: 27px;

    }

    .nav__item:not(:last-child) {
        margin-right: 51px;
    }

    .contact__item:not(:last-child) {
    margin-bottom: 10px;
    }

    .contact__svg {
        height: 14px;
    }

    .contact__link {
        display: flex;
        align-items: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        
        color: #757575;

        &:hover,
        &:focus {
                color: $blue-color;
                fill: $blue-color;
            }
    }

    .contact__list {
        margin-left: 81px;
    }

    .contact__svg {
        margin-right: 8px;
        height: 14px;
        fill: currentColor;
    }


}


